.header {
	background-color: #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.brand {
	color: #ffffff;
	display: flex;
	justify-content: flex-start;
	padding: 16px;
	width: 50%;
}

.brand > a {
  color: #ffffff;
  text-decoration: none;
}